# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.odt#
*.ods#
lab1/config.log
lab1/config.status
lab1/dragon.ppm
lab1/dragon (copie).ppm
lab1/libtool
lab1/out.pgm
lab1/vgcore.15418
lab1/results/dragon_pthread_26.pgm
lab1/results/dragon_serial_26.pgm
lab1/results/dragon_tbb_26.pgm
lab1/results/intervals.txt
lab1/results/time_dragonizer_draw_serial_26.data
lab1/results/time_dragonizer_limits_serial_26.data
lab1/src/dragonizer
lab1/tests/dragon_check_failed_tbb.ppm
lab1/tests/test-all.sh.log
lab1/tests/test-all.sh.trs
lab1/tests/test-suite.log
lab2/doc/.~lock.analyse-encode.ods#
lab2/inf8601-lab2/results/perf-5279.out.data
lab2/inf8601-lab2/Makefile
lab2/inf8601-lab2/Makefile.in
lab2/inf8601-lab2/aclocal.m4
lab2/inf8601-lab2/compile
lab2/inf8601-lab2/config.guess
lab2/inf8601-lab2/config.h
lab2/inf8601-lab2/config.log
lab2/inf8601-lab2/config.status
lab2/inf8601-lab2/config.sub
lab2/inf8601-lab2/config.h.in
lab2/inf8601-lab2/configure
lab2/inf8601-lab2/depcomp
lab2/inf8601-lab2/install-sh
lab2/inf8601-lab2/libtool
lab2/inf8601-lab2/ltmain.sh
lab2/inf8601-lab2/missing
lab2/inf8601-lab2/stamp-h1
lab2/inf8601-lab2/stats.csv
lab2/inf8601-lab2/test-driver
lab2/inf8601-lab2/autom4te.cache/output.0
lab2/inf8601-lab2/autom4te.cache/output.1
lab2/inf8601-lab2/autom4te.cache/output.2
lab2/inf8601-lab2/autom4te.cache/requests
lab2/inf8601-lab2/autom4te.cache/traces.0
lab2/inf8601-lab2/autom4te.cache/traces.1
lab2/inf8601-lab2/autom4te.cache/traces.2
lab2/inf8601-lab2/encode/Makefile
lab2/inf8601-lab2/encode/Makefile.in
lab2/inf8601-lab2/encode/.deps/encode-algo.Po
lab2/inf8601-lab2/encode/.deps/encode-chunk.Po
lab2/inf8601-lab2/encode/.deps/encode-encode.Po
lab2/inf8601-lab2/m4/libtool.m4
lab2/inf8601-lab2/m4/ltoptions.m4
lab2/inf8601-lab2/m4/ltsugar.m4
lab2/inf8601-lab2/m4/ltversion.m4
lab2/inf8601-lab2/m4/lt~obsolete.m4
lab2/inf8601-lab2/results/perf-21706.out.data
lab2/inf8601-lab2/results/perf-5226.out.data
lab2/inf8601-lab2/results/stats-1-HT0.csv
lab2/inf8601-lab2/results/stats-2-HT0.csv
lab2/inf8601-lab2/results/stats-2-HT1.csv
lab2/inf8601-lab2/src/Makefile
lab2/inf8601-lab2/src/Makefile.in
lab2/inf8601-lab2/src/.deps/libbcl_a-sinoscope_opencl.Po
lab2/inf8601-lab2/src/.deps/memory.Po
lab2/inf8601-lab2/src/.deps/sinoscope-color.Po
lab2/inf8601-lab2/src/.deps/sinoscope-sinoscope.Po
lab2/inf8601-lab2/src/.deps/sinoscope-sinoscope_openmp.Po
lab2/inf8601-lab2/src/.deps/sinoscope-sinoscope_serial.Po
lab2/inf8601-lab2/tests/Makefile
lab2/inf8601-lab2/tests/Makefile.in
